bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea
/.vs
/Sapphire.Electron/node_modules
Sapphire.Electron/package-lock.json
Sapphire.Electron/wwwroot/css/app.min.css
Sapphire.Electron/wwwroot/css/app.min.css
Sapphire.Electron/package-lock.json
Sapphire.Electron/wwwroot/css/app.min.css
/Sapphire.App/node_modules
/BlazorApp1
