<PageTitle>@PageTitle</PageTitle>

<div class="flex flex-col h-full overflow-hidden">
    <div class="flex flex-row min-h-10 h-10 justify-between drag pl-4" style="border-bottom: 1px var(--mud-palette-lines-default) solid">
        <div class="flex flex-row items-center">
            <MudText Typo="Typo.h2">@PageTitle</MudText>
        </div>
        <div class="flex flex-row items-center">
            @ToolbarRightContent
        </div>
    </div>
    
    @if (RibbonLeftContent is not null || RibbonRightContent is not null || RibbonCenterContent is not null)
    {
        <div class="flex flex-row min-h-10 h-10 justify-between px-4" style="border-bottom: 1px var(--mud-palette-lines-default) solid">
            <MudStack Row="true" Justify="Justify.FlexStart" AlignItems="AlignItems.Center" Spacing="1">
                @RibbonLeftContent
            </MudStack>
            <MudStack Row="true" Justify="Justify.Center" AlignItems="AlignItems.Center" Spacing="1">
                @RibbonCenterContent
            </MudStack>
            <MudStack Row="true" Justify="Justify.FlexEnd" AlignItems="AlignItems.Center" Spacing="1">
                @RibbonRightContent
            </MudStack>
        </div>
    }

    <div class="flex flex-row flex-grow overflow-hidden">
        <main class="flex flex-col flex-grow overflow-y-scroll overflow-x-hidden px-4 py-6">
            @ChildContent
        </main>
    </div>
</div>


@code {
    [Parameter] public string? PageTitle { get; set; }
    [Parameter] public RenderFragment? ToolbarLeftContent { get; set; }
    [Parameter] public RenderFragment? ToolbarRightContent { get; set; }
    
    [Parameter] public RenderFragment? FirstMenu { get; set; }
    [Parameter] public RenderFragment? SecondMenu { get; set; }
    [Parameter] public RenderFragment? ThirdMenu { get; set; }
    
    [Parameter] public RenderFragment? RibbonLeftContent { get; set; }
    [Parameter] public RenderFragment? RibbonCenterContent { get; set; }
    [Parameter] public RenderFragment? RibbonRightContent { get; set; }
    
    [Parameter] public RenderFragment? ChildContent { get; set; }
}