<PageTitle>@PageTitle</PageTitle>

<div class="flex flex-col h-full overflow-hidden">
    <div class="flex flex-row min-h-10 h-10 justify-between drag" style="border-bottom: 1px var(--mud-palette-lines-default) solid">
        <div class="flex flex-row items-center">
            @ToolbarLeftContent
        </div>
        <div class="flex flex-row items-center">
            <MudText Typo="Typo.h2">@PageTitle</MudText>
        </div>
        <div class="flex flex-row items-center">
            @ToolbarRightContent
        </div>
    </div>

    <div class="flex flex-row flex-grow overflow-hidden">
        @if (FirstMenu is not null)
        {
            <div class="min-w-10 w-10 flex flex-col overflow-hidden p-1 h-full" style="border-right: 1px var(--mud-palette-lines-default) solid">
                @FirstMenu
            </div>
        }

        @if (SecondMenu is not null)
        {
            <div class="min-w-72 w-72 flex flex-col overflow-hidden h-full" style="border-right: 1px var(--mud-palette-lines-default) solid">
                @SecondMenu
            </div>
        }

        @if (ThirdMenu is not null)
        {
            <div class="min-w-10 w-10 flex flex-col overflow-hidden p-1 h-full" style="border-right: 1px var(--mud-palette-lines-default) solid">
                @ThirdMenu
            </div>
        }

        <main class="flex flex-col flex-grow overflow-x-hidden overflow-y-scroll">
            @if (RibbonLeftContent is not null || RibbonRightContent is not null || RibbonCenterContent is not null)
            {
                <div class="flex flex-row min-h-10 h-10 justify-between" style="border-bottom: 1px var(--mud-palette-lines-default) solid">
                    <MudStack Row="true" Justify="Justify.FlexStart" AlignItems="AlignItems.Center" Spacing="1" Class="mx-3">
                        @RibbonLeftContent
                    </MudStack>
                    <MudStack Row="true" Justify="Justify.Center" AlignItems="AlignItems.Center" Spacing="1" Class="mx-3">
                        @RibbonCenterContent
                    </MudStack>
                    <MudStack Row="true" Justify="Justify.FlexEnd" AlignItems="AlignItems.Center" Spacing="1" Class="mx-3">
                        @RibbonRightContent
                    </MudStack>
                </div>
            }
            
            @ChildContent
        </main>
    </div>
    

</div>


@code {
    [Parameter] public string? PageTitle { get; set; }
    [Parameter] public RenderFragment? ToolbarLeftContent { get; set; }
    [Parameter] public RenderFragment? ToolbarRightContent { get; set; }
    
    [Parameter] public RenderFragment? FirstMenu { get; set; }
    [Parameter] public RenderFragment? SecondMenu { get; set; }
    [Parameter] public RenderFragment? ThirdMenu { get; set; }
    
    [Parameter] public RenderFragment? RibbonLeftContent { get; set; }
    [Parameter] public RenderFragment? RibbonCenterContent { get; set; }
    [Parameter] public RenderFragment? RibbonRightContent { get; set; }
    
    [Parameter] public RenderFragment? ChildContent { get; set; }
}