@page "/"

<DefaultWindowLayout PageTitle="File" ChildContentMaxWidth="MaxWidth.False">
    <RibbonRightContent>
        <MudStack Spacing="1" Row="true" Justify="Justify.FlexEnd" AlignItems="AlignItems.Center">
            <MudButton Variant="Variant.Outlined" Size="Size.Small" StartIcon="@Icons.Material.Filled.Add">Add from Template</MudButton>
        </MudStack>
    </RibbonRightContent>
    
    <ChildContent>
        <div class="flex flex-row gap-4">
            <div style="flex: 1 1 0;">
                <div class="mt-4">
                    <MudText Typo="Typo.h1">Services</MudText>
                    <RowStub/>
                    <RowStub/>
                </div>
    
                <div class="mt-4">
                    <MudText Typo="Typo.h1">Volumes</MudText>
                    <RowStub/>
                    <RowStub/>
                </div>
    
                <div class="mt-4">
                    <MudText Typo="Typo.h1">Networks</MudText>
                    <RowStub/>
                    <RowStub/>
                </div>
    
                <div class="mt-4">
                    <MudText Typo="Typo.h1">Configs (Coming Soon)</MudText>
                    <RowStub/>
                    <RowStub/>
                </div>
    
                <div class="mt-4">
                    <MudText Typo="Typo.h1">Secrets (Coming Soon)</MudText>
                    <RowStub/>
                    <RowStub/>
                </div>
            </div>
    
            <div style="flex: 0 0 400px;">
                <p>stub</p>
            </div>
        </div>
    </ChildContent>
</DefaultWindowLayout>

@code {
    [CascadingParameter] public required BehaviorSubject<DockerStack> Stack { get; set; }
}