<MudItem xs="12">
    <MudCard Elevation="0" Outlined="true" Class="my-1 overflow-hidden">
        <MudStack Row="false" Spacing="0">
            <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="0" Class="h-8 hover:bg-[var(--mud-palette-lines-default)]">
                <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="0" Class="h-full">
                    <div class="h-full w-8 flex items-center justify-center hover:bg-[var(--mud-palette-lines-default)]">
                        <MudIcon Icon="@Icons.Material.Filled.CheckBoxOutlineBlank" Size="Size.Small"/>
                    </div>
                </MudStack>

                <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="0" Class="flex-grow h-full flex-shrink overflow-hidden" Justify="Justify.FlexStart">
                    <MudStack Justify="Justify.FlexStart" AlignItems="AlignItems.Center" Class="w-50 flex-shrink-0" Row="true">
                        <MudText Typo="Typo.body2" Class="w-40 text-right truncate">Test</MudText>
                    </MudStack>
                    <MudStack Justify="Justify.FlexStart" AlignItems="AlignItems.Center" Class="w-50 flex-shrink-0" Row="true">
                        <MudText Typo="Typo.body2" Class="w-40 text-right truncate">Tags</MudText>
                    </MudStack>
                </MudStack>

                <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="0" Class="h-full">
                    <div class="h-full w-8 flex items-center justify-center hover:bg-[var(--mud-palette-lines-default)]">
                        <MudIcon Icon="@Icons.Material.Filled.Delete" Size="Size.Small"/>
                    </div>
                </MudStack>
            </MudStack>
        </MudStack>
    </MudCard>
</MudItem>

@code {

    

}